:root {
  // Fonts
  --text-font: menco, sans-serif;
  --text-font-weight-light: 300;
  --text-font-weight-medium: 500;
  --text-font-weight-bold: 700;
  --headline-font: 'Playfair Display', serif;
  --headline-font-weight-bold: 700;

  // Font Sizes
  --hero-h1-font-size: 3.5em;
  --h2-font-size: 2.15em;

  --card-headline-font-size: 2em;

  // Colors
  --color-primary: #e76f51;
  --color-secondary: #4ecdc4;

  --yellow: #ffe66d;
  --dark-green: #1a535c;
  --red: #fb475a;

  --black: #000;
  --black-overlay: rgba(0, 0, 0, 0.4);
  --header-overlay: rgba(0, 0, 0, 0.9);

  --white: #fff;
  --white-light: rgba(255, 255, 255, 0.7);

  --nav-overlay: rgba(0, 0, 0, 0.9);

  --card-bg: #171717;

  // Border

  --border-radius: 10px;

  // Spacing
  --content-wrapper: 20px;
  --header-wrapper: 20px;
  --gap: 20px;

  --section-spacing: 60px;
}

@include media('>=xs') {
  :root {
    --content-wrapper: 40px;
    --header-wrapper: 40px;
    --gap: 20px;
  }
}
@include media('>=sm') {
  :root {
    //Spacing
    --content-wrapper: 80px;
    --gap: 20px;
    --section-spacing: 80px;
  }
}

@include media('>=lg') {
  :root {
    //Spacing
    --hero-h1-font-size: 3.75em;
    --section-spacing: 100px;
  }
}
