html {
  // @include media('>=sm') {
  //   scroll-snap-type: y;
  // }
  cursor: none;
}

main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-spacing);
  min-block-size: 100vh;
  // @include media('>=xl') {
  //   scroll-snap-align: start;
  //   scroll-snap-stop: always;
  // }
}

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  cursor: none;
}

.cursor_outer {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid var(--white);
  border-radius: 50%;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
  z-index: 10000000000;
  pointer-events: none;
}

.cursor_inner {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--color-secondary);
  border-radius: 50%;
  z-index: 10000000000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.wrapper {
  padding: 0 var(--content-wrapper);
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;

  @include media('>=xxl') {
    padding: 0;
  }
}
